<?xml version="1.0"?>
<model>
  <name>Saxion M4E Tiltrotor</name>
  <version>1.0</version>
  <sdf version="1.5">saxion_m4e_tiltrotor.sdf</sdf>

  <author>
   <name>Akarsh Gopal</name>
   <email>a.gopal@saxion.nl</email>
  </author>

  <description>
    This is a model of the Saxion Mars4Earth Maintenance Tilt-Hexarotor
  </description>
</model>
